# Introduction to Python Workshop

## __Variables__

In [ ]:
x = 5
name = "Python for Beginners"
print(x)
print(name)

### Reassignment of Variables

In [ ]:

x = "Python for Beginners"
name = 5
print(x)
print(name)

## Conditional Statements and Flow control

### IF Statement

In [ ]:
lis1 = ['good', 'better', 'best', 'bad', 'worse']

if 'good' in lis1:
    print('Everything is good')
    
if 'no' in lis1:
    print('Nothing')
print('Done')

### ELIF Statement

In [ ]:
name = 'xyz'

if name == 'Jo':
    print('Hi Jo')
elif name == 'Mark':
    print('Hi Mark')
elif name == 'Frank':
    print('Hi Frank')
else:
    print('No match found')

## While Loop

In [ ]:
i = 1

while i < 6:
    print(i)
    i += 1

### Break Statement

In [ ]:
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    i += 1

### Continue

In [ ]:

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

## For Loop

In [ ]:
workshops = ["Digital", "Scholarship", "Hub",2]
for x in workshops:
    print(x)

## Data Types

Python has the following data types built-in by default, in these categories:

Numeric Types: int, float, complex

Sequence Types: list, tuple, strings

Mapping Type: dict

Set Types: set

Boolean Type: bool

### Numeric Data Types

In [ ]:
x=3 # int datatype
y=3.14 #float datatypes
z=complex(3,4) #complex datatype
print(z.real) # real part of the complex number
print(z.imag) #imaginary part of the complex number

### Boolean Type

In [ ]:
x= True
y= False
print(x)

### Find the data type of a variable

In [ ]:
x="Digital Scholorship Hub"
type(x)

### Type-Casting

In [ ]:
a=str(13456)
print(type(a))
b=int("1234")
print(type(b))
c=float(55)
print(type(c))

## Operators

### Arithmetic Operators

In [ ]:
x=3
y=4

print(x+y)    # print the sum of x and y
print(x-y)    # subtraction
print(x*y)    # multiplication
print(x/y)    # simple division
print(x**y)   # print exponential product(x to the power of y)
print(x//y)   # floor division
print(x%y)    # modulus

### Assignment Operators

In [ ]:
x = 6
x += 2 #similar to x = x + 2
print(x)
x -= 2 #similar to x = x - 2
print(x)
x *= 2 #similar to x = x * 2
print(x)
x /= 2 #similar to x = x / 2
print(x)
x %= 2 #similar to x = x % 2
print(x)
x //= 2 #similar to x = x // 2
print(x)
x **= 2 #similar to x = x ** 2
print(x)
x=6
x &= 2 #similar to x = x & 2
print(x)
x=6
print(x)
x |= 2 #similar to x = x | 2
print(x)
x ^= 2 #similar to x = x ^ 2
print(x)
x >>= 2 #similar to x = x >> 2
print(x)
x <<= 2 #similar to x = x << 2
print(x)

### Comparision Operators

In [ ]:
x=5
y=5
print(x == y)	# checks if x is equal to y
print(x != y) # checks if x is not equal to y	
print(x > y) # checks if x is greayer than y	
print(x < y) # checks if x is less than y	
print(x >= y) # checks if x is greater that or equal to y
print(x <= y) # checks if x is less than or equal to y.

### Logical Operators

In [ ]:
x=5
y=10
print(x==5 and y==10) # performs AND operation on the results of the comparision operators(True and True)
print(x==5 or y!=10) # performs OR operation on the results of the comparision operators(True or False)
print(not(x==5)) # reverses the result of the comparision operation.

### Identity Operators

In [ ]:
x=[1,2,3]
y=[1,2,3]
z=y
print(z is y) # returns True as z is the same object as y
print(z is x) # returns False as z is not the same object as x
print(z is not x) # returns True as z is not the same object as x

### Membership Operators

In [ ]:
x=["Digital","Scholoarship","Hub"]
print("Hub" in x)# prints True, as "Hub" is in list x
print(2 not in x)# prints True, as 2 is not in list x

### Bitwise Operators

In [ ]:
a = 5
b = 6
 
print( a & b) # Print bitwise AND operation
print( a | b) # Print bitwise OR operation
print( ~a) # Print bitwise NOT operation
print( a ^ b) # print bitwise XOR operation


a = 1
print( a >> 1) # print bitwise right shift operator
print(a << 1) # print bitwise left shift operator

## Functions

### create a function

In [ ]:
def my_function():
    print("Hello from a function")

### Call a Function

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

### Arguments

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

## Lambdas

In [ ]:
x = lambda a : a + 10
print(x(5))

## String Manipulation

### Creation

In [ ]:
s= "Digital Scholorship Hub 2"
print(s)

s1=str(12345)
print(s1)

### Accessing

In [ ]:
a=s[2]
print(a)

### Length of a string

In [ ]:
print(len(s))

### Search and index:

In [ ]:
print(s.find("H"))
print(s.index("Hub"))

### Count

In [ ]:
print(s.count(" "))

### Slicing

>NOTE:
>
> s[a:b] # items start through end-1
>
> s[a:] # items start through the rest of the list
>
> s[:b] # items from the beginning through end-1
>
> s[:] # a copy of the whole list

In [ ]:
print(s[3:6])

### Replace

In [ ]:
s2= "Math and Science"


s.replace("Science","Statistics") # replace Science with Statistics.
print(s)

### Upper case and Lower case

In [ ]:
print(s.upper()) # print the string in upper case

print(s.lower()) # print the string in lower case

print(s.title()) # print the string in title case

print(s.swapcase()) # swaps the case of the string.

### Reversal of a string

In [ ]:
print(''.join(reversed(s)))

### Stripping

In [ ]:
s=" this is an example "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

### Concatenation

In [ ]:
s3="Hello"
s4="World"

print(s3+s4)

### Join

In [ ]:
l=["hello","world"]
print(" ".join(l)) # adds a space between each character.

### Testing

In [ ]:
s = "Digital Scholorship Hub"

print(s.isalnum()) #checks if all the characters are alphanumeric 

print(s.isalpha()) #checks if all the characters are alphabetic

print(s.isdigit()) #checks if string contains digits

print(s.istitle()) #checks if string contains title words

print(s.isupper()) #checks if string contains upper case

print(s.islower()) #checks if string contains lower case

print(s.isspace()) #checks if string contains spaces

print(s.endswith('d')) #checks if string endswith a d

print(s.startswith('H')) #checks if string startswith H

## Lists

### Accessing elements of a list

In [ ]:
list1=[12, 15.5, 'abcd', 'xyz', 34, 256.8]

print(list1)        #Prints list

print(list1[0])     #Prints 1st element in the list

print(list1[1:5])   #Prints 2nd to 5th elements in the list

print(list1[4:])    #Prints all the elements after 4

print(list1[-1])    #Prints the last element

### Removing elements from a list

In [ ]:
lis4=['Lovely day', 45.6, 22, 'Good Night', 'Afternoon', 56, 29, 30, 22]

del(lis4[4])         #Delets the 5th element in the list 
print(lis4)  

lis4.remove(22)      #Removes the element 22. Remove command removes the first matching element
print(lis4)

lis4.pop(1)          #Pops the element present on the first index
print(lis4)

### Other operations with list

In [ ]:
lis1=[100,99,98,97]
lis2=['abc','xyz',88,28,34,'ijk']

print(len(lis1))     # The len() function is used to get the length of the list
lis3= lis1+lis2      #Adding/Concatenating two lists
print(lis3)
print(lis3[-3:])     #Prints last 3 elements

### Checking if an element is present in the list

In [ ]:

lis5=['Illinois','Indiana','Texas','Florida']

'Illinois' in lis5   #The 'in' statement checks whether certain element is present in the list or not. If the element is present it returns True else False
'Arizona' in lis5
'Arizona' not in lis5 #Similar to 'in' statement

### Min Max Function

In [ ]:

lis6=[1,34,73,67,99,22,3,4]

print(min(lis6))
print(max(lis6))

### Adding value to the list

In [ ]:
lis6.append(56)     #Appends only one element at the end of the list
print(lis6)
lis6.extend([11,2,33]) #Appends multiple elements at the end of the list
print(lis6)

lis6.insert(0,90)   #Inserts element at the mentioned index
print(lis6)

### Sorting elements in a list

In [ ]:
lis7=[-6,1,-1,-5,3,6,7,8,22,5,4]

lis7.sort()         #Sorts elements in ascending order

print(lis7)

#Sorted function

lis8=[-3,11,2,3,8,4,1,5,-5,-8,-10,10]

print(sorted(lis8)) #Prints the sorted list

print(lis8)         #Prints the original list. Sorted function doesnot change the original list whereas sort function does

### Reassigning a list

In [ ]:
print(lis8)

lis8[0]=100         #Assigns index 0 as 100

print(lis8)

## Tuples

In [ ]:
tup=('asdfgh', 16, 78.9, 'mnbvcxz')

print(tup)

print(tup[0])

print(tup[1:3])

## Sets

In [ ]:
set_example={"Digital","Scholorship","Hub",2}
print(set_example)

## Dictionaries

In [ ]:
demo1={'a':10,'b':20,'c':30,'d':40}

print(demo1)

### Accessing elements in a dictionary

In [ ]:
print(demo1['a'])

k= demo1.keys()
print(k)

### Inserting/changing items in a Dictionary

In [ ]:
demo1['a']=50
demo1.update({'a':10})

demo1['e']=50
demo1.update({'f':60,'g':70})

### Copying a dictionary

In [ ]:
demo2=demo1.copy()
demo3=dict(demo1)

### Deletion in Dictionaries

In [ ]:
#We use the pop() method and the del keyword to delete elements in dictionaries. 
demo1.pop('g')
del demo1['f']

# the del keyword can delete the dictionary completely:

del demo1
#print(demo1)

# The clear() method is used to empty the dictionary.
demo3.clear()

### Nested dictionaries

In [ ]:
demo4 = {
  "letters" : {
    "a" : "1",
    "b" : 2
  },
  "capital_letters" : {
    "A" : "1",
    "B" : 2
  },
}
# or we can also do the following:

letters = {
  "a" : "1",
  "b" : 2
}
capital_letters = {
  "A" : "1",
  "B" : 2
}


demo5 = {
  "letters" : letters,
  "capital_letters" : capital_letters
}
print(demo5)